.button {
	position: relative;
	display: inline-flex;
	vertical-align: middle;
	text-align: center;
	box-sizing: border-box;
	align-items: center;
	justify-content: center;
	text-decoration: none !important;
	outline: none;
	-webkit-appearance: none;
	border: 1px solid transparent;
	cursor: pointer;
	user-select: none;
	background-color: #6b78d6;
	font-family: Roboto, sans-serif;
	font-weight: 400;
	font-size: 16px;
	text-transform: uppercase;
	color: #fff;
	padding: 8px 32px;

	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

	&:focus,
	&:hover {
		border-color: #6b78d6;
		background-color: transparent;
		color: #6b78d6;
	}

	&.active {
		background-color: red;
		color: #000;
	}

	&._outline {
		border-color: #6b78d6;
		background-color: transparent;
		color: #6b78d6;

		&:focus,
		&:hover {
			background-color: #6b78d6;
			color: #fff;
		}
	}
}

    .bg-violet{
    background-color:#9330ff;
    }
    .text-white{
    color:white;
    }
    .text-violet{
    color:#9330ff;;
    }
    .bg-white{
    background-color:white;
    border: 1px solid black;
    }
    .float-left{
        float:left;margin:0.6rem;
        margin-top:0;
    }
    .float-right{
        float:right;
    }
    .ml-1{
        margin-left: 1rem;
    }
    .p-1{
        padding: 1rem;
    }
    .w-20{
        width:20rem;
    }
    .text-center{
        text-align: center;
    }
    .box {
        display: flex;
        align-items: center;
        justify-content: center;
        height:30rem;
      }
